.menu{
   background-color: rgb(223, 130, 173);
}

div.carrossel{
   display:flex;
   justify-content: center;


}
.carousel{
   width:100%;
   margin-top: 8%;
}

section.um{
   width: 70%;
}

.curiosidades {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 3%;
}
.curiosidades img {
   width: 300px;
   height: 300px;
   margin: 10px;
   padding: 15px;
}

.faq h1{
   margin-left: 2%;
   color: white;
   margin-top: 10%;
}

#mostrar{
   display: none;
   
 }
 
 #passar_mouse:hover #mostrar{
   display:block;
   }

.faq{
  
   background-color: rgb(236, 148, 189);
}

figcaption{
   color:white
   
}

.formulario{
   margin-left: 2%;
}

.formulario h3{
   margin-top: 3%;
}

#botao{
   background-color: rgb(236, 148, 189);
   margin-top: 2%;
   border-color: aliceblue;
   
}

.instagram img{
   width: 4%;
   margin-bottom: 3%;
   margin-top: 3%;
}

.tiktok img{
   width: 4%;
   margin-bottom: 3%;
}

.youtube img{
   width: 4%;
   margin-bottom: 3%;
}

.redessociais{
   margin-left: 8%;

}

.informacoes{
   font-size: 35px;
   color: aliceblue;
   margin-left: 3%;
   margin-top: 4%;
}

#sociais{
   background-color:rgb(236, 148, 189) ;
 

}

